body, html {
    height: 100%;
}

.p-0{
    padding: 0;
}

div.ex1 {
    border: 2px darkred solid;

}

div.ex2 {
    border: 2px black solid;

}

.bg {
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background: url(/images/bg.jpg) no-repeat center;
    background-size: cover;
}

.block1 {
    margin: 0;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: darkred;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}